.contactContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  gap: 0; /* Ingen gap för att de ska sitta ihop */
}

.contactHero {
  padding: 2rem;
  background: var(--background-blur);
  border-radius: 10px 0 0 10px; /* Rundade hörn på vänster sida */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.imageContainer {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px 0 0 10px; /* Rundade hörn på vänster sida */
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.textContainer {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
}

.contactSocials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.socialIcon {
  width: 48px;
  height: 48px;
}

.contactFormContainer {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-blur);
  border-radius: 0 10px 10px 0; /* Rundade hörn på höger sida */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactFormContainer h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.formGroup input,
.formGroup textarea {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
}

.formGroup textarea {
  flex: 1; /* Gör textarea flexibelt för att täcka resten av det horisontella utrymmet */
  min-height: 300px; /* Justera höjden på textarea */
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: #4caf50;
  outline: none;
}

.submitButton {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background: #4caf50;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submitButton:hover {
  background: #4caf50;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: var(--background-blur);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Media queries för responsiv design */
@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
    align-items: center;
    width: 90vw; /* Justera bredden för mindre skärmar */
    padding: 1rem; /* Justera padding för mindre skärmar */
  }

  .contactHero {
    width: 90vw;
    border-radius: 2rem;
    margin-bottom: 1rem; /* Lägg till marginal för att separera från formuläret */
    padding: 1rem; /* Justera padding för mindre skärmar */
  }

  .contactFormContainer {
    width: 90vw;
    border-radius: 2rem;  
  }

  .imageContainer {
    width: 100%;
    height: 300px; /* Justera höjden på bilden för mindre skärmar */
  }
}