.header-container {
    width: 70vw;
    height: auto;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.header-content {
    position: relative; /* Enable positioning of child elements */
    width: 100%; /* Use full width of the container */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.header-content img {
    position: absolute; /* Position images absolutely within the container */
    object-fit: cover; /* Ensures the image covers the specified dimensions */
    border-radius: 1em;
    bottom: 0; /* Align images at the bottom */
}

.header-content img:first-child {
    z-index: 2; /* Ensure the first image is below the pseudo-element */
    width: 50vw; /* Adjust the width to make the image larger */
    height: auto; /* Maintain aspect ratio */
    filter: grayscale(100%);
}

.header-content img:last-child {
    z-index: 0; /* Ensure the second image is below the first image */
    width: 100%; /* Ensure the second image covers the full width */
    height: 50px; /* Maintain aspect ratio */
}

.header-content .filled-text {
    position: absolute; /* Position text absolutely within the container */
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    text-align: center;
    z-index: 1; /* Ensure text is above the first image */
    font-family: 'Thunder', sans-serif;
    font-weight: 800; /* Use the ExtraBoldLC font */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    line-height: 1; /* Adjust line height to ensure text fits within the container */
    margin: 0; /* Remove default margin */
}

.header-content .outlined-text {
    position: absolute; /* Position text absolutely within the container */
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent; /* Make the text itself transparent */
    -webkit-text-stroke: 2px #ffffff; /* Outline the text */
    text-align: center;
    z-index: 3; /* Ensure text is above the first image */
    font-family: 'Thunder', sans-serif;
    font-weight: 800; /* Use the ExtraBoldLC font */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    line-height: 1; /* Adjust line height to ensure text fits within the container */
    margin: 0; /* Remove default margin */
    pointer-events: none; /* Prevent hover effects */
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
    .header-container {
        width: 90vw; /* Ensure the container stretches to 90vw */
    }

    .header-content {
        height: 300px;
        width: 90vw; /* Ensure the component stretches to 90vw */
    }

    .header-content img:first-child {
        width: 70vw;
    }

    .header-content img:last-child {
        height: 300px;
    }

    .header-content .filled-text,
    .header-content .outlined-text {
        font-size: 15vw; /* Adjust font size for smaller screens */
        top: 40%; /* Adjust top position for smaller screens */
    }

    .header-content .filled-text {
        z-index: 10;
    }

    .header-content .outlined-text {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header-content {
        height: 400px;
    }

    .header-content img:first-child {
        width: 50vw;
    }

    .header-content img:last-child {
        height: 400px;
    }

    .header-content .filled-text,
    .header-content .outlined-text {
        font-size: 15vw; /* Adjust font size for medium screens */
        top: 45%; /* Adjust top position for medium screens */
    }

    .header-content .filled-text {
        z-index: 1; /* Reset z-index */
    }

    .header-content .outlined-text {
        display: flex; /* Reset display */
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .header-content {
        height: 500px;
    }

    .header-content img:first-child {
        width: 45vw;
    }

    .header-content img:last-child {
        height: 500px;
    }

    .header-content .filled-text,
    .header-content .outlined-text {
        font-size: 15vw; /* Adjust font size for large screens */
        top: 50%; /* Adjust top position for large screens */
    }

    .header-content .filled-text {
        z-index: 1; /* Reset z-index */
    }

    .header-content .outlined-text {
        display: flex; /* Reset display */
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .header-content {
        height: 600px;
    }

    .header-content img:first-child {
        width: 35vw;
    }

    .header-content img:last-child {
        height: 500px;
    }

    .header-content .filled-text,
    .header-content .outlined-text {
        font-size: 12rem; /* Adjust font size for extra large screens */
        top: 50%; /* Adjust top position for extra large screens */
    }

    .header-content .filled-text {
        z-index: 1; /* Reset z-index */
    }

    .header-content .outlined-text {
        display: flex; /* Reset display */
    }
}

@media (min-width: 1536px) {
    .header-content {
        height: 700px;
        margin-top: 8rem;
    }

    .header-content img:first-child {
        width: 35vw;
    }

    .header-content img:last-child {
        height: 700px;
    }

    .header-content .filled-text,
    .header-content .outlined-text {
        font-size: 15rem; /* Adjust font size for extra large screens */
        top: 50%; /* Adjust top position for extra large screens */
    }

    .header-content .filled-text {
        z-index: 1; /* Reset z-index */
    }

    .header-content .outlined-text {
        display: flex; /* Reset display */
    }
}