.navbar {
  position: sticky; /* Make the navbar sticky */
  top: 2em;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3; /* Ensure the navbar is below the headerArt image */
  background-color: var(--background-blur);
  margin: 0 auto;
  border-radius: 50px;
}

.navbar a {
  color: var(--foreground);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .hireButton {
  background-color: #4caf50;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: bold;
}

.navbar .hireButton:hover {
  background-color: #4caf50;
  color: #000000 !important;
  transition: 0.3s;
}

.navbar .menu {
  display: flex;
  align-items: center;
}

.navbar .menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar .menu {
    display: none;
  }

  .navbar .menu-toggle {
    display: block;
    cursor: pointer;
  }
}

.menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 2rem;
  background-color: var(--background-blur);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure the mobile menu is above the headerArt image */
}

.menu.active a {
  margin: 1rem 0;
  text-align: center;
}