.footer {
    position: relative;
    width: 100%;
    margin-top: 4rem;
    background-color: var(--background-blur);
    color: var(--foreground);
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }