.footer {
    position: relative;
    width: 100%;
    background-color: var(--background-blur);
    color: var(--foreground);
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }